table tbody td b, table tbody td strong {
  font-weight: normal !important; 
}



body {
    background-color: #2E3935;
}
.col-left, .col-right {
    display: inline-block;
    vertical-align: top;
}
.col-left {
    width: 19%;
    height: 90vh;
    padding: 10px;
}
.col-left #ID_Vista,
.col-left h6{
    font-size: 14px !important;
    margin: 4px 0 8px 0 !important;
}
.col-left hr {
    border-top: 1px solid rgb(255 255 255);
    margin: 4px 0;
}
.col-left, .table-content {
    color: white;
}
.col-right {
    width: 80%;
}
.form-group {
    margin-bottom: 0 !important;
}
.col-left .canvas-pie, .col-left .canvas-bar {
    display: none;
}
#ID_TB_DENUNCIAS_length,
.dataTables_filter{ 
    display: none;
}
.table-content {
    padding: 10px !important;
    font-size: 12px;
    /*overflow-y: auto;*/
    height: 40vh !important;
}
table tbody td button.btn-point,
table tbody td button.btn-zoom,
table tbody td button.btn-visita {
    background-size: 100%;
    height: 25px;
    width: 25px;
}
table tbody td button.btn-general {
    height: 25px;
    width: 25px;
    color: #FFFFFF !important;
    padding: 0 !important;
}
table tbody td button.btn-zoom {
    background-image: url("../img/map-64.png");

}
table tbody td button.btn-visita {
    background-image: url("../img/policeman-48.png");
}
table tbody td button.btn-point {
    background-image: url("../img/point-48.png");
    padding: 7px !important;
}
table tbody td:nth-child(6) {
    text-align: center;
}
.dataTables_wrapper .dataTables_filter input {
    padding: 0px;
}
table.dataTable thead>tr>th.sorting {
    padding-right: 0;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 5px;
}
/*
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    color: #FFFFFF !important;
}
*/
.dataTables_wrapper 
.dataTables_length 
select {
    color: #FFFFFF;
}

table.dataTable thead>tr>th.sorting:after, table.dataTable thead>tr>th.sorting_asc:after, table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>th.sorting_asc_disabled:after, table.dataTable thead>tr>th.sorting_desc_disabled:after, table.dataTable thead>tr>td.sorting:after, table.dataTable thead>tr>td.sorting_asc:after, table.dataTable thead>tr>td.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc_disabled:after, table.dataTable thead>tr>td.sorting_desc_disabled:after {
    color: #FFFFFF;
}


/*
.mapboxgl-popup .mapboxgl-popup-anchor-bottom {
    background-color: #2E3935;
}
.jmap_wrapper div.mapboxgl-popup-content {
    background-color: #2E3935;
}
.jmap-mouse-over-table {
    background-color: #2E3935;
}
*/
/*
#ID_Modal_Detalle .modal-dialog,
#ID_Modal_Detalle .modal-body .table-content,
#ID_Modal_Detalle .dataTables_wrapper .dataTables_length select,
#ID_Modal_Visitas .modal-dialog,
#ID_Modal_Visitas .modal-body .table-content,
#ID_Modal_Visitas .dataTables_wrapper .dataTables_length select,
#ID_Modal_VisitasPunto .modal-dialog,
#ID_Modal_VisitasPunto .modal-body,
#ID_TB_DENUNCIAS_length select option{ 
    color: #000000 !important;
}



#ID_TB_AUDITORIA,
#ID_TB_SITUACION_ACTUAL {
    color: #000000;
}

#ID_TB_AUDITORIA_length,
#ID_TB_SITUACION_ACTUAL_length { 
    display: none;
}
.content-label {
    margin-bottom: 0 !important;
}

.content-p p {
    margin-bottom: 8px !important;
}






.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>th, 
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td {
    padding: 5px !important;
    font-weight: normal !important;
}

.normal {
    font-weight: normal !important;
}


#ID_Modal_Detalle .modal-body .table-content,
#ID_Modal_Visitas .modal-body .table-content,
#ID_Modal_VisitasPunto .modal-body .table-content {
    font-weight: normal !important;
}

.alert {
    font-weight: normal !important;
}
.alert-pd {
    padding: 5px 20px;
    display: none;
}

.btn-close {
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font-weight: bolder;    
}
*/

