/*
.jmap_wrapper {
    width: 100% !important;
    height: 65vh !important;
    
}
*/
/*
#my-custom-map {
    margin-left: 50px;
    margin-top: 50px;
    border: 1px solid grey;

  }
  */
body {
    background-color: #2E3935;
    color: white;
}
#my-custom-map {
    height: 65vh !important;
}  
#ID_TABLE {
    height: 35vh !important;
    overflow-y: scroll;
    padding: 5px 0;
}
.temp-search {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 0;
    top: 0;
    z-index: 500;
}

table.dataTable td {
    font-size: 12px;
}
table tbody td button.btn-zoom {
    height: 25px;
    width: 25px;
}
table tbody td button.btn-zoom {
    background-image: url("../img/map-64.png");
    background-size: 100%;
}
table tbody td:nth-child(6) {
    text-align: center;
}
.dataTables_wrapper .dataTables_filter input {
    padding: 0px;
}
table.dataTable thead>tr>th.sorting {
    padding-right: 0;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 5px;
}


.col-left, .col-right {
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.col-left {
    width: 20%;
    padding: 10px;
}
.col-left h3{
    font-size: 14px !important;
    margin-bottom: 4px !important;
}
.col-left hr {
    border-top: 1px solid rgb(255 255 255);
    margin-top: 4px;
}

.col-right {
    width: 79.5%;
}