* { box-sizing: content-box; }
.col-content { background-color: #2E3935; }
.col-content .col-left { color: #FFFFFF; }
/*.col-content .col-right .col-table{
    background-color: #2E3935;
}*/
.col-content .col-left,
.col-content .col-right {
    font-size: 13px;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 50px 0 0 0 !important;
    box-sizing: border-box;
    height: 100vh;
    border: 0;
}
.col-content .col-left { width: 22.5%; }
.col-content .col-right { width: 77%; }
/******************************/
.tab-content {
    border-top: 1px solid #abc;
    display: none;
    padding: 10px;
    overflow-y: hidden; 
    position: absolute;
    left: 0;
    right: 0;
    height: 90%;
    width: 23%;
    margin-bottom: -100px;
    box-sizing: border-box;
}  
/* Activa el scroll del menú */
.scroll-menu {
    border-bottom: 1px solid #a79c72;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
}  
.scroll-menu input { display: none; }  
.scroll-menu label {
    color: #FFFFFF;
    border: 1px solid transparent;
    display: inline-block;
    margin: 0 0 -1px;
    padding: 10px 10px;/* Pestaña */
    font-weight: normal;    
    text-align: center;
}  
.scroll-menu label:hover {
    color: #789;
    cursor: pointer;
}  
.scroll-menu input:checked + label {
    color: #a79c72;
    
    background-color: rgba(46,57,53,0.5);
    border-top: 4px solid #a79c72;
    border-left: 1px solid #2E3935;
    border-right: 1px solid #2E3935;
    border-bottom: 1px solid #a79c72;
    display: inline-block;
} 
/* BEGIN - Scroll personalizado */
.scroll-menu::-webkit-scrollbar {
    -webkit-appearance: none;
}  
.scroll-menu::-webkit-scrollbar:vertical {
    width:10px;
}
.scroll-menu::-webkit-scrollbar-button:increment,
.scroll-menu::-webkit-scrollbar-button {
    display: none;
}   
.scroll-menu::-webkit-scrollbar:horizontal {
    background-color: #abc;
    height: 10px;  
}  
.scroll-menu::-webkit-scrollbar-thumb {
    background-color: #0AF;
    border-radius: 20px;
    /*border: 1px solid #024f49;*/
}
.scroll-menu::-webkit-scrollbar-track {
    border-radius: 10px;  
}
/* END - Scroll personalizado */

h6{
    font-size: 12px !important;
    margin: 4px 0 !important;
    font-weight: 750;
}
hr {
    border-top: 1px solid rgb(255 255 255);
    margin: 4px 0;
}
.row-field {
    width: 100%;
}
.row-field label {
    font-weight: 700;
    margin-bottom: 0;
}
.row-field .content-p {
    width: 100%;
}
.row-field .content-p p {
    margin-bottom: 8px;
}
.row-field .cbo-vista{
    height: 35px !important;
    margin-bottom: 10px !important;
    width: 95%;
}

.canvas-pie,
.canvas-bar {
    display: none;
}
.col-table table {
    color: #FFFFFF;
}

.col-table .dataTables_wrapper 
.col-table .dataTables_length 
.col-table select,
.col-table select option {
    color: #FFFFFF;
}

table.dataTable th.dt-center,
table.dataTable td.dt-center,
table.dataTable td.dataTables_empty,
table.dataTable thead>tr>th.sorting,
table.dataTable thead>tr>th.sorting_asc,
table.dataTable thead>tr>th.sorting_desc,
table.dataTable thead>tr>th.sorting_asc_disabled,
table.dataTable thead>tr>th.sorting_desc_disabled,
table.dataTable thead>tr>td.sorting,
table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>td.sorting_asc_disabled,
table.dataTable thead>tr>td.sorting_desc_disabled,
table.dataTable tbody td {
    color: #FFFFFF;
    font-size: 10px !important;
}
table.dataTable thead th,
table.dataTable thead td {
    border-bottom: 0px solid rgba(0, 0, 0, 0.3);
    padding: 5px;    
    font-size: 10px !important;
}
table tbody td button.btn-general {
    height: 25px;
    width: 25px;
    color: #FFFFFF !important;
    padding: 0 !important;
}
table.dataTable tbody th,
table.dataTable tbody td {
    padding: 4px 5px;
}
#ID_TB_VISITAS_length,
#ID_TB_VISITAS_filter,
#ID_TB_DENUNCIAS_length,
#ID_TB_DENUNCIAS_filter {
    display: none !important;
}
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
    color: #FFFFFF !important;
    padding: 0;
}

.tab-content .row-col {
    margin-right: 0 !important;
    margin-left: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.tab-content .row-col p { 
    margin: 0;
    padding: 7px;
}

/* GIS LOAD */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  /* Scroll de TABLA DENUNCIAS */
.col-table {
    overflow-y: scroll;
    height: 300px;
    max-height: 300px;
}
/*
.col-table::-webkit-scrollbar {
    width: 8px; 
    height: 8px;
    display: none;
}
.col-table::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}
.col-table::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
.col-table::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}
.col-table::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}
.col-table::-webkit-scrollbar-track:hover,
.col-table::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}*/
select.form-control {
    height: 28px !important;
    padding: 0 7px;
}

#ID_VISITA_FECHA {
    font-size: 12px;
 }

.load_zindex {
    position: absolute;
    z-index: 10000;
    left: 50%;
    top: 140px;
}